@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
    font-family: "Cairo", sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid #1f1f1e;
}

header img {
    width: 90px;
    height: 90px;
}

.table-container {
    margin: auto;
    overflow-x: auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
}

th, td {
    padding: 20px 15px;
    text-align: center;
    font-size: 15px;
    color: #6ab13d;
    font-weight: 500;
}

th {
    background-color: #5fad4a;
    color: #1f1f1e;
    font-weight: bold;
}

tr {
    background-color: #1f1f1e;
    border-bottom: 1px solid #fff;
}