@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --main-color: #53a951;
    --second-color: #1e1f1e;
}

header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--second-color);
    padding: 15px 30px;
    animation: fadeInDown 2s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo-roqia img {
    height: 50px;
    transition: transform 0.3s ease;
    border-radius: 15px;
}

.logo-roqia img:hover {
    transform: scale(1.1) rotate(-360deg);
}


header>ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

header>ul li {
    position: relative;
    list-style: none;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header>ul li::after,
header>ul li.active::after {
    content: '';
    position: absolute;
    bottom: -19px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: var(--main-color);
    transition: width 0.3s ease;
}

header>ul li.active::after {
    width: 100%;
    background-color: var(--main-color);
    transition: width 0.3s ease;
}

header>ul li:hover::after {
    width: 100%;
}


header>ul li a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease, transform 0.3s ease;
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

header>ul li.active a,
header>ul li:hover a {
    color: var(--main-color);
    transform: translateY(-5px);
    text-decoration: none;
}
header>ul li:nth-child(1) a {
    animation-delay: 0.1s;
}
header>ul li:nth-child(2) a {
    animation-delay: 0.2s;
}
header>ul li:nth-child(3) a {
    animation-delay: 0.3s;
}
header>ul li:nth-child(4) a {
    animation-delay: 0.4s;
}
header>ul li:nth-child(5) a {
    animation-delay: 0.5s;
}
header>ul li:nth-child(6) a {
    animation-delay: 0.6s;
}
header>ul li:nth-child(7) a {
    animation-delay: 0.7s;
}
header>ul li:nth-child(8) a {
    animation-delay: 0.8s;
}
header>ul li:nth-child(9) a {
    animation-delay: 0.9s;
}
header>ul li:nth-child(10) a {
    animation-delay: 0.10s;
}

.btn-open-menu {
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    position: relative;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 1360px) {
    header ul {
        display: none;
    }

    .btn-open-menu {
        display: block;
    }
}

header>a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

header>div{
    display: flex;
    align-items: center;
    gap: 0 20px;
}

header>div>button {
    width: fit-content;
    height: auto;
    background-color: var(--main-color);
    border-radius: 7px;
    color: var(--second-color);
    font-size: 18px;
    border: none;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    padding: 5px 10px;
}